html {
  scroll-behavior: smooth;
}

body {
  background-color: #dbdede;
}

h1 {
  text-align: center;
  font-family: Roboto;
  color: white;
}

p {
  color: white; 
}

#navbar {
  width: 100vw;
  position: fixed;
  top: 0px;
  background-color: #280baa;
}

#navbar a {
  text-decoration: none;
  color: white;
}


#welcome-section {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #09d5fa, #9116f9);
  color: white;
  margin-bottom: 0;
}

h3 {
  text-align: center;
}

#projects {
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
}

.project-tile {
  background-color: #C2AFF0;
  padding: 10px;
}

.project-tile2 {
  background-color: #9191E9;
  padding: 10px;
}

.project-tile3 {
  background-color: #457EAC;
  padding: 10px;
}


#project-link {
  color: white;
  text-decoration: none;
}


#contact {
  height: 35vh;
  width: 100vw;
  margin-top: 0;
}

/* Mobile Version */

@media (max-width: 599px) {
  #intro { 
    margin: 100px 50px 100px 50px;
    font-size: 25px;
  }
}

@media (max-width: 599px) {
  #navbar {
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 0px;
  background-color: #280baa;
  }
}

@media (max-width: 599px) {
  #project-container {
    display: flex;
  }
}

@media (max-width: 599px) {
  .img {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;
  }
}

@media (max-width: 599px) {
  .imgyt {
    width: 55px;
    height: 30px;
    margin: 10px 10px 10px 10px;
  }
}

/* PC Version */

@media (min-width: 600px) {
  #navbar a {
    font-size: 20px;
    float: left;
    padding-right: 10px;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 40px;
    
  }
}

@media (min-width: 600px) {
  #intro {
    margin: 1in;
    font-size: 23px;
  }
}
@media (min-width: 600px;) {
  #navbar {
    height: 5vh;
  }
}
@media (min-width: 600px) {
  .img {
    width: 60px;
    height: 60px;
    margin: 20px 20px 20px 20px;
  }
}

@media (min-width: 600px) {
  .imgyt {
    width: 105px;
    height: 60px;
    margin: 20px 20px 20px 20px;
  }
}
